<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coders-Web "Login"</title>
    <style>
        *{
            text-align: center;
        }
        h1{
            border: 5px solid;
            color: brown;
        }
    </style>
</head>
<body>
    <h1>Welcome to Coders-Web</h1>
    <h3>Kindly Login into Website by entering URL</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus corrupti quia aspernatur esse quibusdam, tenetur incidunt laboriosam illum nihil numquam, corporis quod unde sunt quaerat ut amet ex sed sit.</p>
</body>
</html>